*,
*:before,
*:after {
    box-sizing: border-box;
}

button {
    max-width: 200px;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', 'sans-serif';
    color: #444;
}

.col-sm {
    background-color: white;
}

.tag {
    display: inline-block;
    background-color: #1fdd3f;
    padding: 5px;
}

.container {
    display: grid;
    margin: 10px;
    grid-gap: 10px;
    background-color: #d2d4dc;
}

.header {
    display: block;

}