<div class="container">
  <div class="row">
    <header class="header"><h4>Project Match</h4></header>
  </div>
  <div class="row">
    <div class="col-sm" id="skills"><h5>Skills to contribute</h5>
      <div class="tag">UX Design</div>
      <div class="tag">Javascript - front end</div>
      <div class="tag">Python</div>
      <div class="tag">Django</div>
    </div>
    <div class="col-sm" id="learn"><h5>Skills to learn</h5>
      <div class="tag">Front-end dev</div>
      <div class="tag">User research</div>
      <div class="tag">HTML</div>
      <div class="tag">UX Design</div>
    </div>
    <div class="col-sm" id="civic"><h5>Civic Interests</h5>
      <div class="tag">Criminal Justice</div>
      <div class="tag">Homeless</div>
      <div class="tag">General help</div>
      <div class="tag">Housing</div>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary">Find Matching Projects</button>
  </div>
</div>
